@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}


body {
    background-color: whitesmoke;
    height: 2000px;
    margin-top: 80px;
    margin-left: 150px;
}   

.relative {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.tooltip {
    position: absolute;
    background-color: rgb(97, 97, 97);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    font-size: 14px;
    white-space: nowrap;
}




