.header {
    margin: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 0.5px solid rgb(241, 241, 241);
    z-index: 999;
}

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
}

.middle-section {
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 700px;
    display: flex;
    align-items: stretch;
    height: 50px;
}

.search-bar {
    flex: 1;
    padding-left: 16px;
    font-size: 1rem;
    border: 1px solid rgb(177, 177, 177);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
    width: 0;
}

.search-bar::placeholder {
    font-family: Roboto, arial;
    font-size: 1rem;
}

.search-button {
    width: 80px;
    border: 1px solid grey;
    margin-left: -1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.search-button img {
    height: 24px
}

.voice-search-button {
    width: 50px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
}

.voice-search-button img {
    height: 24px;
    filter: grayscale(100%)
}

.right-section {
    width: 200px;
    padding-right: 40px;
    display: flex;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.right-section img {
    height: 24px;
}

.notifications-icon-container {
    height: 24px;
    position: relative;
}

.notifications-count {
    position: absolute;
    top: -6px;
    right: -4px;
    background-color: rgb(184, 0, 0);
    color: white;
    font-weight: bold;
    border-radius: 90px;
    text-align: center;
    font-size: 14px;
    padding: 1px 5px;
}




.header-icon {
    height: 50px;
}