body {
    /* background-color: grey; */
    font-family: Roboto;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.thumbnail {
    display: block;
    width: 400px;
    height: 220px;
    object-fit: cover;
}

.search-bar {
    margin-bottom: 20px;
    display: block;
}

.video-preview {
    width: 400px;
    vertical-align: top;
    /* border: 1px solid black; */
    display: inline-block;
    margin-right: 20px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.channel-picture {
}

.channel-picture img {
    width: 80%;
    border-radius: 90px;
}

.video-info {
}

.video-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.video-author {
    font-size: 16px;
    color: #303030;
    margin-bottom: 4px;
}

.video-stats {
    font-size: 16px;
    color: #303030;
}

.thumbnail-row {
    margin-bottom: 14px;
}